<div class="card">
    <div class="card-header" id="heading-{{name}}">
        <h5 class="mb-0">
            <div class="container-fluid">
                <div class="row">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-{{name}}" aria-expanded="false" aria-controls="collapse-{{name}}" style="padding-right:5px;">
                        <h4>{{name}}</h4>
                    </button>
                    <a href="#" class="mt-auto" data-toggle="modal" data-target="#newDeviceModal">
                        <i class="far fa-plus-square card-group-plus-icon"></i>
                    </a>
                </div>
            </div>
        </h5>
    </div>

    <div id="collapse-{{name}}" class="collapse" aria-labelledby="heading-{{name}}" data-parent="#accordion">
        {% if objects %}
            <div class="card-body">
                <div class="row" id="card-row">
                    {% for object in objects %}
                        {% include "house/fragment/card.html" with object=object %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h5 class="card-group-no-cards-yet">No {{name}} yet.</h5>
        {% endif %}
    </div>
</div>
