<div class="card card-card">
    <div class="card-body">
    <h5 class="card-title">{{object.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{object.date}}</h6>
    <p class="card-text">{{object.notes}}</p>
    <a href="#" class="card-link">Records</a>
    <a href="#" class="card-link">Reminders</a>
    </div>
</div>
