{% load static %}
<div class="container-fluid">
    <div class="row">
        <h1 id="page-title">{{title}}</h1>
        <a href="#" class="mt-auto" data-toggle="modal" data-target="#edit-title-modal">
            <i class="far fa-edit edit-title-edit-icon"></i>
        </a>

    </div>
</div>

<!-- Edit Title Modal -->
<div class="modal fade" id="edit-title-modal" tabindex="-1" role="dialog" aria-labelledby="edit-title-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-title-modal-label">Edit Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='edit-title-modal-body' class="modal-body">
                <form id="record-form">
                    <div class="form-group">
                        <input
                            type="text"
                            id='edit-title-new-name'
                            name="name"
                            id='edit-page-name'
                            class="form-control"
                            value='{{title}}'
                        >
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id='edit-title-save' class="btn btn-primary" onclick="edit_title('{{id}}', '{{object_type}}')">Save</button>
            </div>
        </div>
    </div>
</div>
