<form method="POST">
    {{form.errors}}
    {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{field.label}}</label>
            {% if field.label == 'Date' %}
                <div class="input-group date col-sm-10 col-md-8 col-lg-6" id="datetimepicker4" data-target-input="nearest">
                    {{ field }}
                    <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            {% else %}
                <div class="col-sm-10 col-md-8 col-lg-6">
                  {{field}}
                </div>
            {% endif %}
        </div>
    {% endfor %}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <button class="btn btn-primary">Save</button>
        </div>
    </div>
    {% csrf_token %}
</form>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker({
            format: 'L'
        });
    });
</script>
