{% load static %}
<link rel="stylesheet" href="{% static "css/pages/add_records.css" %}">

<h4>Records</h4>
<div class="col-md-8">
    <table id='record-table' class="table table-sm table-bordered">
        <tbody id='record-table-tbody'>

        </tbody>
    </table>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='delete-record-modal-body' class="modal-body">
                <p>
                    <strong>Are you sure you want to delete this record?</strong>
                </p>
                <p id='deleteModalBody'></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id='confirm-delete-record' class="btn btn-danger">Delete Record</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Record -->
<button type="button" class="btn btn-primary" onclick="add_record('{{object_id}}', '{{object_type}}')">
    Add Record
</button>


<div class="modal fade" id="add-record-modal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecordModalLabel">Add/Edit Record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id='add-record-modal-body' class="modal-body">
                <form id="record-form">
                    <div class="form-group">
                        <label>Statement</label>
                        <input
                            type="text"
                            name="statement"
                            id='add-record-statement'
                            class="form-control"
                            placeholder="Year house was built"
                        >
                    </div>
                    <div class="form-group">
                        <label>Response</label>
                        <input
                            type="text"
                            name="response"
                            id='add-record-response'
                            class="form-control"
                            placeholder="1998"
                        >
                    </div>
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Canel</button>
                <button type="submit" id='add-record' class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
