{% load static %}
<nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">Welcome to BlueBoard</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            {% if sign_up %}
                <a class="btn btn-primary ml-auto" role="button" href="{% url 'house:login' %}">Login</a>
            {% else %}
                <a class="btn btn-primary ml-auto" role="button" href="{% url 'house:index' %}">Sign Up</a>
            {% endif %}
        </div>
    </div>
</nav>

<div id="index-img" class="container-fluid text-center" style="background:transparent url('{% static "img/bg-masthead.jpg" %}') no-repeat center center /cover">
    {% if form.username.errors %}
        <div class="alert alert-primary" role="alert">
            {{form.username.errors.as_text}}
        </div>
    {% endif %}
    {% if form.email.errors %}
        <div class="alert alert-primary" role="alert">
            ee{{form.email.errors.as_text}}
        </div>
    {% endif %}
    {% if form.password.errors %}
        <div class="alert alert-primary" role="alert">
            {{form.password.errors.as_text}}
        </div>
    {% endif %}
    {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
    {% endif %}
    <div class="row" >
        {% if sign_up %}
            <h1 id="tagline" class="container-fluid">Home management made easy</h1>
        {% else %}
            <h1 id="tagline" class="container-fluid">Please login to continue</h1>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-6 offset-sm-3 text-center">
            <div class="info-form">
                <form method="POST" class="form-inlin justify-content-center">
                    {% for field in form %}
                        <div class="form-group">
                            {{field}}
                        </div>
                    {% endfor %}
                    {% if sign_up %}
                        <button class="btn btn-lg btn-primary" onclick="showToast()">Sign Up</button>
                    {% else %}
                        <button class="btn btn-lg btn-primary" onclick="showToast()">Login</button>
                    {% endif %}
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>
