{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BlueBoard {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fa-all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/pages/base.css" %}">
    <script src="{% static "js/jquery.min.js" %}"></script>
    {% block extra_css %}{% endblock %}
</head>

<body id="page-top">
    <div id="base-container" class="container-fluid h-100">
        <div id="top-row" class="row">
            <div class="col-md-2 text-center">
                <h2 style="color: #00a5cf">Blueboard</h2>
            </div>
            <div class="col-md text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle btn-sm dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user}}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <button class="dropdown-item" type="button">Profile</button>
                        <button class="dropdown-item" type="button">Help</button>
                        <a href='{% url 'house:logout' %}' class="btn dropdown-item" type="button">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar-base-row" class="row h-100">
            <div id="navbar-col" class="col-md-2">
                <nav class="navbar bg-light navbar-row">
                    <a href='{% url 'house:house' %}' class="btn navbar-button btn-block">House</a>
                </nav>
                {% for room in rooms %}
                    <nav class="navbar bg-light navbar-row">
                        <a href='{% url 'house:room' room.id %}' class="btn navbar-button btn-block">{{room.name}}</a>
                    </nav>
                {% endfor %}

                <nav class="navbar bg-light navbar-row">
                    <button type="button" class="btn navbar-button btn-block" data-toggle="modal" data-target="#addRoomModal">
                        + Room
                    </button>
                </nav>
            </div>
            <div class="col-md-10">
                {% block page_title %}{% endblock %}
                {% if messages %}
                    {% for m in messages %}
                        <div class="alert alert-{{m.tags}} all" role="alert"><strong>{{m}}</strong></div>
                    {% endfor %}
                {% endif %}
                {% block main %}{% endblock %}
                <div style="margin:50px;">

                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="addRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addRoomModalLabel">Add Room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id='add_room' action="{% url 'house:add_room' %}" method="post">
                        <div class="form-group">
                            <label>Name of Room:</label>
                            <input id="room-name-input" class="form-control" type="text" name="name" placeholder="Living Room">
                        </div>
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" form="add_room" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "js/jquery-easing.js" %}"></script>
    <script src="{% static "js/generic.js" %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
