.record-table-container{
    padding: 0px;
}

.record-table-container-row{
    margin: 0px;
}

.record-table-container-col{
    padding: 0px;
}

.record-table-container-col-1{
    padding: 0px;
    padding-left: 5px;
}

.record-table-cell{
    padding: 0px;
}

.record-button{
    padding: 2px;
}

.record-delete-button{
    color: red;
}
