:root {
  --dark-blue-color: #0a2463;
  --light-blue-color: #00a5cf;
}

body, html {
  height: 100%;
}

#base-container{
    padding-left: 0px;
    padding-right: 0px;
}

#top-row{
    background-color: var(--dark-blue-color);
    margin: 0px;
}

#navbar-base-row{
    margin: 0px;
}

#navbar-col{
    background-color: var(--dark-blue-color);
    padding-right: 0px;
    padding-left: 0px;
}

#logout-button{
    border: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 9px;
    color: var(--dark-blue-color);
    background-color: var(--light-blue-color);
    border-radius: 24px;
}

.navbar-row{
    background-color: var(--dark-blue-color)!important;
}

.navbar-button{
    background-color: var(--light-blue-color);
    border-radius: 24px;
}

.dropdown-button{
    background-color: var(--light-blue-color);
    color: var(--dark-blue-color);
    border-radius: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 11px;
}

#page-title{
    margin-top: 15px;
}

/*messages error style*/
.alert-error{
	color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert{
    margin-top: 10px;
}
