
.edit-title-edit-icon{
    margin-left: 10px;
    margin-bottom: 12px;
}

.card-card{
    width: 18rem;
    margin: 5px;
}

.card-group-no-cards-yet{
    margin-left: 25px;
}
.card-group-plus-icon{
    margin-bottom: 15px
}
