{% extends "house/base.html" %}
{% load static %}


{% block title %} - House{% endblock %}

{% block page_title %}
    {% include "house/fragment/edit_title.html" with title=house.name id=house.id object_type='house' %}

{% endblock %}

{% block main %}
    <p>
        Welcome to your virtual house.  Start by adding rooms (Living Room, Kitchen, etc)
        to your virtual house so that it resembles your actual house. Then, you can
        start adding purchases, repairs, and routine maitinace to each room.
    </p>
    {% include "house/fragment/record.html" with object_id=house.id object_type='house' records=records %}
{% endblock %}

{% block extra_js %}
    <script src="{% static "js/record.js" %}"></script>
    <script>
        window.onpageshow = function() {
            build_table('{{records|safe}}');
            onCloseListener();
        };
    </script>
{% endblock %}
