{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BlueBoard</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fa-all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/pages/index.css" %}">
</head>

<body>

    {% include "house/fragment/signup_base.html" with sign_up=True %}

    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-tools m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                        <h3>Home Maintenance</h3>
                        <p class="lead mb-0">
                            Don't guess at when you last checked the smoke alarms or changed
                            the air conditioning filter.  Track all of it in one place and set
                            reminders for next time.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-tv m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                        <h3>Item Warranties</h3>
                        <p class="lead mb-0">
                            Store all of your recipts and warrenty information in
                            one place so you will always know if your covered.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="fas fa-house-damage m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                        <h3>Home Repair</h3>
                        <p class="lead mb-0">
                            Always know who fixed it last, how much you paid, and what kind of warrenty they offer on their work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;{% static "img/bg-showcase-1.jpg" %}&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Easy to use</h2>
                    <p class="lead mb-0">Being an adult is hard enough without having to constantly rememeber if you paid the electric bill this month. &nbsp;Let us help you keep track of everything and remind you of upcoming tasks.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image:url(&quot;{% static "img/bg-showcase-3.jpg" %}&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong>Easy to Use &amp;&nbsp;Customize</strong></h2>
                    <p class="lead mb-0">Build a virtual house that mimics your real house so you can visualize everything that you need to do as well as everything you have done already.</p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image:url(&quot;{% static "img/bg-showcase-2.jpg" %}&quot;);"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2><strong>Completly Open Source</strong></h2>
                    <p class="lead mb-0">No one should have to sacrafice privacy for convenience. &nbsp;Blueboard is complely free of trackers and never sells your data. &nbsp;Don't belive us, feel free to thumb through the source code, or better yet, make a contribution.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="call-to-action text-white text-center" style="background:url(&quot;{% static "img/bg-masthead.jpg" %}&quot;) no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                </div>
                <div class="col-sm-6 offset-sm-3 text-center">
                    <div class="info-form">
                        <form method="POST" class="form-inlin justify-content-center">
                            {% for field in form %}
                                <div class="form-group">
                                    {{field}}
                                </div>
                            {% endfor %}
                            <button class="btn btn-primary" onclick="showToast()">Sign Up</button>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>


</body>
