{% extends "house/base.html" %}
{% load static %}

{% block title %} - New Purchase{% endblock %}

{% block extra_css %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
{% endblock %}

{% block page_title %}
    {% include "house/fragment/basic_title.html" with title="New "|add:room.name|add:" Purchase" %}
{% endblock %}

{% block main %}
    {% include "house/fragment/event_form.html" with form=form %}

        
    </div>
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}
