{% extends "house/base.html" %}
{% load static %}

{% block title %} - {{room.name}}{% endblock %}

{% block page_title %}
    {% include "house/fragment/edit_title.html" with title=room.name id=room.id object_type='room' %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/pages/room.css" %}">
    <link rel="stylesheet" href="{% static "css/fragments.css" %}">
{% endblock %}

{% block main %}
    {% if objects %}
    {% comment %}
    <div class="row">
        <h1 id="page-title">{{title}}</h1>
        <a href="#" class="mt-auto" data-toggle="modal" data-target="#edit-title-modal">
            <i class="far fa-edit edit-title-edit-icon"></i>
        </a>

    </div>
    {% endcomment %}
    <div class="container-fluid">
        <div class="row">
            <h4>Events</h4>
            <div class="dropdown show">
                <a class="dropdown-toggle" href="#" role="button" id="eventsDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-plus-square room-plus-icon"></i>
                </a>
                <div class="dropdown-menu" aria-labelledby="eventsDropDown">
                    <a class="dropdown-item" href="{% url 'house:new_device' room.id %}">Purchase</a>
                    <a class="dropdown-item" href="#">Repair</a>
                    <a class="dropdown-item" href="#">Maintenance</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="card-row">
        {% for object in objects %}
            {% include "house/fragment/card.html" with object=object %}
        {% endfor %}
    </div>
    {% else %}
        <p>
            Welcome! Start by adding some events or records.
        </p>
    {% endif %}

    {% include "house/fragment/record.html" with object_id=room.id object_type='room' records=records %}

{% endblock %}

{% block extra_js %}
    <script src="{% static "js/record.js" %}"></script>
    <script>
        window.onpageshow = function() {
            build_table('{{records|safe}}');
            onCloseListener();
        };
    </script>
{% endblock %}
